/* reset*/
body{
    margin:O;
    padding:O;
    box-sizing:boder-box;
    font-family:Arial,sans-serif;
}
body{
    background:#fff;
    color:#333;
}
/*Navbar*/
.navbar{
    display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#f4f4f4;
}
.nav-links a{
    text-decoration:none;
    color:#333;
}
/*Hero section8*/
.hero{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:60px;
}
.hero-text{
    flex:1;
}
.hero-text h1{
    font-size:28px;
    margin-bottom:10px;
}
.hero :-moz-any{
    color:#0077cc;
}
.btn{
    background:#0077cc;
    color:#fff;
    padding:10px 20px;
    text-decoration:none;
    border-radius:5px;
}
.hero-img img{
        max-width:250px;
        border-radius: 15%;
    }

    





